.homeCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 140px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin: 20px;
	cursor: "pointer"
}


.homeCard:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}